body {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  background: #3b3b3b;
  color: #add8e6;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  color: #add8e6;
  font-size: 35px;
}

header {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  top: 0;
  z-index: 10;
  justify-content: center;
  display: flex;
  font-size: 50px;
  color: #add8e6;
}

/* socials */
.fa-brands {
  width: 25px;
  height: 25px;
  color: #add8e6;
  transition: all 0.2s ease-in-out;
}

.fa-brands:hover {
  color: #cbc3e3;
}

/* bio */
#bio p {
  text-align: center;
  margin: center;
  display: flex;
  font-size: 1rem;
}

.face img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #add8e6;
}

/* projects */
.accordion-title {
  background-color: #3b3b3b;
  color: #add8e6;
  text-align: left;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
}

.accordion-title:hover {
  background-color: #525252;
  color: #cbc3e3;
}

.accordion-title.active {
  color: #cbc3e3;
  font-weight: bold;
}

.accordion-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
  background-color: #3b3b3b;
  font-weight: 350;
  color: #cbc3e3;
  font-size: 1.1rem;
}

.accordion-description.active {
  max-height: 100px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

#content form {
  flex-grow: 1;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #525252;
}

.input-row {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.input-group {
  flex-grow: 1;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 0.5rem;
}

.input-group input {
}
